<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.readrops.app">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application
        android:name=".ReadropsApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning,UnusedAttribute">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".notifications.NotificationPermissionActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".item.WebViewActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <service android:name=".utils.feedscolors.FeedsColorsIntentService" />

        <receiver android:name=".notifications.sync.SyncWorker$MarkReadReceiver" />
        <receiver android:name=".notifications.sync.SyncWorker$ReadLaterReceiver" />

        <activity android:name=".settings.SettingsActivity" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".account.AccountTypeListActivity" />
        <activity
            android:name=".account.AddAccountActivity"
            android:label="@string/add_account" />
        <activity
            android:name=".feedsfolders.ManageFeedsFoldersActivity"
            android:label="@string/manage_feeds_folders"
            android:parentActivityName=".itemslist.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".itemslist.MainActivity"
            android:label="@string/articles"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".item.ItemActivity"
            android:parentActivityName=".itemslist.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".addfeed.AddFeedActivity"
            android:label="@string/add_feed_title"
            android:parentActivityName=".itemslist.MainActivity">
            <intent-filter android:label="@string/new_feed">
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
    </application>

</manifest>
